<!DOCTYPE html>
<html>
    <head>
        <title>The Lucid Palace</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="template.css">
    </head>
    <body>
        <div class="header">
             <!-- Place your banner picture in the css file-->
            <div class="subHeader">
                <div class="name">
                    <img src="icon.png" alt="Palace logo">
                    <h1>The Lucid Palace</h1>
                </div>
                <div class="nav">
                    <ul class="list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Rooms</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Locations</a>
                            <ul>
                                <li><a href="#">St. Lucia</a></li>
                                <li><a href="#">Bahamas</a></li>
                                <li><a href="#">Jamaica</a></li>
                            </ul>
                        </li> 
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main"><!-- Content goes here -->
            <h1><hr class="welcome">&nbsp;Welcome&nbsp;<hr class="welcome"></h1>
        </div>
        <div class="footer">
            <h6>&copy;&nbsp;Centennial College | COMP 225 | Web Development | Winter 2016</h6>
            <h3>Creators</h3>
            <p>Kevin Ma</p>
            <p>Vinood Persad</p>
            <p>Josh MacAulay</p>
            <p>Ostap Hamarnyk</p>
        </div>
    </body>
</html>